.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.container__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 18px;
  place-content: center;

  max-width: 1046px;
  margin: 0 auto;

  // .container__logo {
  //   grid-column: 1 / -1;

  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   margin-bottom: 36px;
  //   font-style: italic;

  //   a {
  //     padding: 0;
  //     margin: 0;
  //   }
  // }

  .container__image {
    max-height: 585px;
  }

  .container__news {
    max-height: 585px;
    overflow: scroll;
    overflow-wrap: break-word;
    hyphens: auto;
  }
}

// large tablet || small laptop
@media only screen and (max-width: 1224px) {
  .container__content {
    display: grid;
    max-width: 742px;
    margin: 0 auto;
    height: 636px;

    .container__image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      // place-content: center;
    }
  }
}
