.container {
  display: grid;
  height: 100vh;

  .navbar {
    // margin: 20px 0;
    margin-top: 40px;
  }
}

@media only screen and (min-height: 760px) {
  .container {
    place-content: center;
  }
}
